name: Android CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5
    - name: set up JDK 17
      uses: actions/setup-java@v5
      with:
        distribution: 'temurin'
        java-version: '17'
    - name: Build with Gradle
      run: ./gradlew clean lint test assembleRelease
    - name: Upload artifact
      uses: actions/upload-artifact@v5
      with:
        name: reports
        path: app/build/reports
    - name: Upload artifact
      uses: actions/upload-artifact@v5
      with:
        name: release.apk
        path: app/build/outputs/apk/release/app-release.apk
